#UsernameEmail{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    width: 6%;
    height: 3%;
    padding: 20px;
    position: fixed;
    left: 33%;
    top: 37%;
}

#UserPassword{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    width: 6%;
    height: 3%;
    padding: 20px;
    position: fixed;
    left: 37%;
    top: 47%;
}


.input1{
    border-style: solid;
    border-color: rgb(185, 185, 185);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    left: 45%;
    top: 40%;
}

.input2{
    border-style: solid;
    border-color: rgb(184, 184, 184);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    left: 45%;
    top: 50%;
}

.Loginbutton{
    background-color: rgb(201, 200, 200);
    border-style: solid;
    border-color: rgb(128, 128, 128);
    color: black;
    padding: 15px 32px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    left: 54%;
    top: 60%;
}

.Regbutton{
    background-color: rgb(184, 184, 184);
    border-style: solid;
    border-color: rgb(129, 129, 129);
    color: black;
    padding: 15px 32px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    left: 40%;
    top: 60%;
}

#logo{
    position:fixed;
    top: -30px;;
    left: 37%;
}